.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.card {
  color: var(--text-primary-color);
  background:var(--background-secondary-color);
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}
.card footer p {
  font-size: 20px;
  font-weight: var(--text-weight);
  font-size: 24px;
  font-weight: var(--titles-weight);
  display: inline-block;
}
.card header img{
  align-items: center;
  margin: 41px;
}

@media screen and (min-width: 768px) {
  .categories {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 420px;
    height: 308px;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    width: 588px;
  }
}
@media screen and (min-width: 1920px) {
  .categories {
    width: 1800px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 2560px) {
  .categories {
    width: 1800px;
    margin: 0 auto;
  }
}
