.categories{
  margin-bottom: 88px;
}

.categories .section-title {
  width: 312px;
  margin: 0 auto;
}
.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}
.categories-cards .card {
  color: var(--text-primary-color);
  background: var(--background-secondary-color);
  box-sizing: border-box;
  padding: 24px;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  width: 312px;
  height: 220px;
}
.categories-cards .card h3 {
  font-size: 28px;
  font-weight: var(--titles-weight);
}
.categories-cards .card.single-line {
  padding-top: 50px;
}
.categories-cards .card.single-line.transfer img {
  margin: 10px 0 20px;
}
@media screen and (min-width: 768px) {
  .categories .section-title {
    width: 100%;
    margin: 0 auto;
  }
  .categories-cards .card{
    width: 280px;
  }
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .categories-cards .card {
    width: 230px;
  }
}
@media screen and (min-width: 1440px) {
  .categories-cards .card {
    width: 280px;
  }
}
@media screen and (min-width: 1920px) {
  .categories-cards .card {
    width: 280px;
  }
}
@media screen and (min-width: 2560px) {
  .categories-cards .card {
    width: 350px;
  }
}
