.destinations {
  width: 312px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 104px;
}

.destinations-items .item {
  color: var(--text-primary-color);
  width: 312px;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 32px 24px;
}

.destinations-items header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.destinations-items .item p {
  font-size: 20px;
  font-weight: var(--text-weight);
  margin: 8px 0 24px;
}
.destinations .button {
  width: 100%;
}

.destinations-items .item h4 {
  font-size: 28px;
  font-weight: var(--titles-weight);
  margin: 8px 0 24px;
}
.destinations-items .img-item {
  width: 312px;
  height: 360px;
}

.img-item.tokyo {
  background: url(../img/Tokyo-mobile.jpg);
  background-size: cover;
}

.img-item.osaka {
  background: url(../img/Osaka-mobile.jpg);
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }

  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }
  .destinations .itm.tokyo .img-item {
    background: url(../img/Tokyo-tablet-desk.jpg);
    background-size: cover;
  }
  .destinations .itm.osaka .img-item {
    background: url(../img/Osaka-tablet-desk.jpg);
    background-size: cover;
  }
  .destinations .button {
    width: 310px;
  }
}
@media screen and (min-width: 1440px) {
  .destinations{
    width: 900px;
  }
  .destinations-items {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .destinations-items .item {
    width: 320px; /* ou o tamanho que quiser */
  }
}
