.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 104px;
}
.offers-cards .card {
  color: var(--text-secondary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
  /* margin: 24px */
}
.offers-cards .card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}
.offers-cards .card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}
.offers-cards .card header h3 {
  font-size: 40px;
  font-weight: var(--titles-weight);
  margin: 8px 0 0;
}
.offers-cards .card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}
.card.japao {
  background: url(../img/bg-card-japao.jpeg);
  background-size: cover;
}
.card.san-andreas {
  background: url(../img/bg-card-san-andreas.jpg);
  background-size: cover;
}
.card.paraiba {
  background: url(../img/bg-card-paraiba.jpg);
  background-size: cover;
}
.card.manaus {
  background: url(../img/bg-card-manaus.jpg);
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .offers {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .offers-cards .card {
    width: 420px;
    height: 308px;
  }
  .offers-cards .card header h3 {
    font-size: 48px;
  }
  .offers-cards .card header span {
    font-size: 40px;
  }
  .button {
    margin: auto;
  }
}
@media screen and (min-width: 1440px) {
  .offers-cards .card {
    width: 588px;
  }
}
@media screen and (min-width: 1920px) {
  .offers {
    width: 1250px;
    margin: auto;
    margin-bottom: 88px;
  }
}
